<div id="page">
<div id="content">
<div id="header"><h1>AAM AADMI Party Fundraising</h1> <h2> Fund raising volunteers</h2></div>
<table><thead>
<tr><th>Volunteer</th> <th> Phone Number</th> <th>role</th><th>Added By</th></tr></thead>
<tbody>
<%FOREACH tbl IN table%>
<tr>
<td><%tbl.name%> </td><td><%tbl.phone_number%></td><td><%tbl.role%></td><td><%tbl.parent%></td>
</tr>
<%END%>
</tbody>
</table>
</div>
</div>
