<div id="page">
<div id="content">
<div id="header"><h1>AAM AADMI Party Fundraising</h1> <h2>Donation Details</h2></div>
<table><thead>
<tr><th>Donor</th> <th> amount</th> <th>time</th></tr></thead>
<tbody>
<%#USE Dumper;Dumper.dump(table)%>
<%FOREACH tbl IN table%>
<%#USE Dumper;Dumper.dump(tbl)%>
<tr>
<td><%tbl.Name%> </td><td><%tbl.amount%></td><td><%tbl.Donation_Time%></td>
</tr>
<%END%>
</tbody>
</table>
</div>
</div>
