<div id="page">
<div id="content">
<div id="header">Sponsor Your Candidate</div>
<table><thead>
<tr><th>Donor</th> <th> amount</th> <th>time</th></tr></thead>
<tbody>
<%USE Dumper;Dumper.dump(table)%>
<%table%>
<%FOREACH tbl IN table%>
<%USE Dumper;Dumper.dump(tbl)%>
<tr>
<td><%tbl.Name%> </td><td><%tbl.amount%></td><td><%tbl.Donation_Time%></td>
</tr>
<%END%>
</tbody>
</div>
</div>
