<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AAP Karnataka Fundraising System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="<% request.uri_base %>/css/bootstrap.min.css" rel="stylesheet">
	<link href="<% request.uri_base %>/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<% request.uri_base %>/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<% request.uri_base %>/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<% request.uri_base %>/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="<% request.uri_base %>/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="<% request.uri_base %>/js/jquery.min.js"></script>
	<script type="text/javascript" src="<% request.uri_base %>/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<% request.uri_base %>/js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<div class="page-header">
						<h1>
							AAM Aadmi Party Karnataka:Fund Raising System<br/><small><strong>C</strong>ontribute a <strong>L</strong>ittle For <strong>Y</strong>our <strong>C</strong>andidate In <strong>K</strong>arnataka</small>
						</h1>
					</div>
				</div>
				<div class="col-md-4 column">
					<img alt="Logo" src="<% request.uri_base %>/images/logo.jpg">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-8 column">
<% content %>
				</div>
				<div class="col-md-4 column">
					<ul>
						<li>
						<a href="http://fundraiser-aapk.rhcloud.com/donation/view/list">Donation List</a>
						</li>
						<li>
						<a href="http://fundraiser-aapk.rhcloud.com/volunteer/view/list">Volunteer List</a>
						</li>
						<li>
						<a href="http://fundraiser-aapk.rhcloud.com/pledge/view/list">Pledge List</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<address> <strong>Aam Aadmi Party Karnataka</strong><br> Kranti Bhavan,<br> Police line road, <br/>Ranasingh Pet<br/> Opposite Cottonpet police station<br/>Bangalore 560053<br> <abbr title="Phone">P:</abbr> +918023012227</address>
		</div>
		<div class="col-md-4 column">
			<address> <strong>Social Connect</strong><br><a href="https://www.facebook.com/AamAadmiParty">Facebook</a><br> <a href="https://twitter.com/AamAadmiParty">Twitter</a></address>
		</div>
		<div class="col-md-4 column">
			 <address> <strong></strong><br> </address>
		</div>
	</div>
</div>
</body>
</html>
